<h4><a class=brand href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}

    {% if site.otherlang %}
    {% for language in site.otherlang %}
    &nbsp;&nbsp;<small><a href="{{ language[1] }}">{{ language[0] }}</a></small>
    {% endfor %}
    {% endif %}

    &nbsp;&nbsp;<a href="https://github.com/kofboy2000/glide-doc-kr/issues/1"><img
            src="https://img.shields.io/badge/LastSync-2019--03--09-brightgreen.svg"/></a>

    {% if site.repourl %}
    <small>
        &nbsp;&nbsp/* Tip: 번역이 도움이 되셨다면 클릭해주세요. &nbsp;<a href="{{ site.repourl }}"><img
            src="https://img.shields.io/github/stars/kofboy2000/glide-doc-kr.svg?style=social&label=Star"/></a>&nbsp;감사합니다！*/&nbsp;
    </small>
    {% endif %}
</h4>
